<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:form="http://form"
    xmlns:field="http://field" lang="fr">
    <head>
        <!-- _header -->
        <th:block th:include="admin/partials/_header/index :: _header"></th:block>
        <!-- /. _header -->
        <!-- summernote -->
        <link rel="stylesheet" th:href="@{/assets/admin/plugins/summernote/summernote-bs4.min.css}">
    </head>
    <body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
        <div class="wrapper">
            <!-- _topbar -->
            <th:block th:include="admin/partials/_topbar/index :: _topbar"></th:block>
            <!-- /. _topbar -->
            <!-- _left_sidebar -->
            <th:block th:include="admin/partials/_left_sidebar/index :: _left_sidebar"></th:block>
            <!-- /. _left_sidebar -->
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- breadcrumb -->
                <th:block th:include="admin/partials/_breadcrumb/index :: _breadcrumb"></th:block>
                <!-- /. breadcrumb -->
                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h6 class="modal-title text-bold">[Formulaire de création]</h6>
                                    </div>
                                    <div class="card-body p-0">
                                        <form id="form_create"
                                            th:action="@{/partenaire/create}"
                                            th:object="${Partenaire}"
                                            method="post" role="form"
                                            autocomplete="on"
                                            enctype="multipart/form-data">
                                            <div class="modal-body">
                                                <p class="text-right text-muted p-none m-none">
                                                    <small>Les champs marqués d'un <code><span class="required">(*)</span></code> sont obligatoires</small>
                                                </p>
                                                <div class="row">
                                                    <div class="col-sm-5">
                                                        <div class="form-group">
                                                            <label for="nom">Nom certification <small class="required">*</small></label>
                                                            <input th:field="*{nom}"
                                                                type="text" required="" class="form-control" placeholder="Nom certification">
                                                            <small class="text-danger" th:errors="*{nom}"></small>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="picture">Logo <small class="required">*</small></label>
                                                            <input type="file" class="form-control" name="picture" required=""
                                                                title="Importer une image" accept=".jpg, .jpeg, .png"> <span
                                                                class="text-danger" name="*{photo}"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-7">
                                                        <div class="form-group">
                                                            <label for="description">Description <small class="required">*</small></label>
                                                            <textarea th:field="*{description}"
                                                                style="width:100%; height:300px"
                                                                class="form-control" id="description">
                                                            Placez <em>du</em> <u>texte</u> <strong>ici</strong>
                                                            </textarea>
                                                            <small class="text-danger" th:errors="*{description}"></small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer justify-content-between">
                                                <a th:href="@{/certification}" class="btn btn-danger btn-sm">
                                                <span class="fa fa-times text-xs mr-xs"></span>Anuller</span></a>
                                                <button type="submit" class="btn btn-success btn-sm">
                                                <span class="fa fa-check text-xs mr-xs"></span>
                                                Save changes</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!--/. container-fluid -->
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
            <!-- footer -->
            <th:block th:include="admin/partials/_footer/index :: _footer"></th:block>
            <!-- /. footer -->
        </div>
        <!-- ./wrapper -->
        <!-- REQUIRED SCRIPTS -->
        <!-- jQuery -->
        <script th:src="@{/assets/admin/plugins/jquery/jquery.min.js}"></script>
        <!-- Bootstrap -->
        <script th:src="@{/assets/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <!-- AdminLTE App -->
        <script th:src="@{/assets/admin/dist/js/adminlte.js}"></script>
        <!-- PAGE PLUGINS -->
        <!-- jquery-validation -->
        <script th:src="@{/assets/admin/plugins/jquery-validation/jquery.validate.js}"></script>
        <script th:src="@{/assets/admin/plugins/jquery-validation/additional-methods.min.js}"></script>
        <!-- Page specific script -->
        <!-- Summernote -->
        <script th:src="@{/assets/admin/plugins/summernote/summernote-bs4.min.js}"></script>
        <script>
            $(function () {
              // Summernote
              $('#description').summernote()
            })
        </script>
    </body>
</html>