<div th:fragment="_notification">

	<!-- Debut Notification-->
	<div class="alert alert-success"
 		role="alert" th:text="${success}" th:if="${success}"></div>
 		
 	<div class="alert alert-danger"
 		role="alert" th:text="${danger}" th:if="${danger}"></div>
 	<!-- Debut Notification-->

</div>