<div th:fragment="_notification">

	<!-- Debut Notification-->
	<div class="row">
	    <div class="col-md-12 col-md-offset-0">
	        <div class="alert alert-success" role="alert"
	        	th:if="${success}"><span class="fa fa-check mr-sm"></span><span th:text="${success}"></span></div>
        	<div class="alert alert-danger" role="alert"
	        	th:if="${error}"><span class="fa fa-time mr-sm"></span><span th:text="${error}"></span></div>
        	<div class="alert alert-info" role="alert"
	        	th:if="${info}"><span class="fa fa-info mr-sm"></span><span th:text="${info}"></span></div>
	    </div>
	</div>
 	<!-- Debut Notification-->

</div>