<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:form="http://form"
    xmlns:field="http://field" lang="fr">
    <head>
        <!-- ========================= _header  ========================= -->
        <th:block th:include="partials/_head/index :: _head"></th:block>
        <!-- ========================= _header end // ========================= -->
    </head>
    <body>
        <div class="wrapper">
            <!-- =========================
                Header 
                =========================== -->
            <header class="header header-transparent">
                <!-- ========================= _nav_bar  ========================= -->
                <th:block th:include="partials/_top_bar/index :: _top_bar"></th:block>
                <!-- ========================= _nav_bar end // ========================= -->
                <!-- ========================= _nav_bar  ========================= -->
                <th:block th:include="partials/_nav_bar/index :: _nav_bar"></th:block>
                <!-- ========================= _nav_bar end // ========================= -->
            </header>
            <!-- /.Header -->
            <!-- ========================
		       page title 
		    =========================== -->
		    <section class="page-title page-title-layout16 bg-overlay bg-parallax">
                <div class="bg-img"><img th:src="@{/assets/images/page-titles/1.png}" alt="background"></div>
                <div class="container">
                    <div class="row text-center">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <h2 class="pagetitle__heading mb-10"><span th:text="${page_title}"></span></h2>
                            <div class="breadcumb">
                                <a class="text-bold" th:href="@{/}">Accueil</a>
                                <i class="fa fa-angle-right"></i>
                                <a th:href="@{/blog}">
                                	<span th:text="${page_title}"></span>
                                </a>
                                <i class="fa fa-angle-right"></i>
                                <span class="text-bold" th:text="${ActualiteALire.titreActualite}"></span>
                            </div>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </section>
            <section class="page-title page-title-layout15 text-center">
            	<div class="container">
        			<div class="row align-items-center">
          				<div class="col-sm-12 col-md-12 col-lg-12">
            				<nav>
              					<ol class="breadcrumb justify-content-center mb-0">
                					<li class="breadcrumb-item active text-danger text-bold" aria-current="page">
                						<span class="text-bold" th:text="${ActualiteALire.titreActualite}"></span></li>
              					</ol>
            				</nav>
          				</div><!-- /.col-xl-6 -->
        			</div><!-- /.row -->
      			</div><!-- /.container -->
			</section>
            <!-- /.page-title -->
            <!-- ======================
                Blog Single
                ========================= -->
            <section class="blog blog-single pt-0 pb-40">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-8">
                            <div class="post-item mb-0">
                                <div class="position-relative">
                                    <div class="post-item__img">
                                        <a href="#">
                                        <img alt="blog image"
                                        	th:src="@{/blog/getphotogrid(originalFilename=${ActualiteALire.photoActualite})}">
                                        </a>
                                    </div>
                                    <!-- /.post-img -->
                                    <div class="post-item__meta d-inline-flex align-items-center mb-0">
                                        <span class="post-item__meta__date">
                                        	<span
                                    			th:text="${#dates.format(ActualiteALire.dateDeParution, 'dd')}"></span>
                                    		<span class="text-uppercase"
                                    			th:text="${#dates.format(ActualiteALire.dateDeParution, 'MMMM')}"></span>,
                                    		<span
                                    			th:text="${#dates.format(ActualiteALire.dateDeParution, 'YYYY')}"></span>
                                        </span>
                                        <div class="post-item__meta__cat">
                                            |
                                        </div>
                                        <!-- /.blog-meta-cat -->
                                        <span class="post-item__meta__author">
                                        	Auteur: <a href="#"><span th:text="${ActualiteALire.creerPar.username}"></span></a></span>
                                    </div>
                                    <!-- /.blog-meta -->
                                </div>
                                <h1 class="post-item__title mt-50 mb-40">
                                    <span th:text="${ActualiteALire.titreActualite}"></span>
                                </h1>
                                <div class="post-item__desc">
                                	<span th:utext="${ActualiteALire.contenuActualite}"></span>
                                </div>
                                <!-- /.blog-desc -->
                            </div>
                            <!-- /.post-item -->
                            <div class="blog-tags d-flex flex-wrap">
                                <strong class="mr-20 color-heading">Tags:</strong>
                                <ul class="list-unstyled d-flex flex-wrap mb-40">
                                    <li><a href="#">Tiling</a></li>
                                    <li><a href="#">Painting</a></li>
                                    <li><a href="#">Construction</a></li>
                                    <li><a href="#">Architecture</a></li>
                                    <li><a href="#">Building</a></li>
                                    <li><a href="#">Renovations</a></li>
                                </ul>
                            </div>
                            <!-- /.blog-tags -->
                            <div class="blog-widget blog-nav mb-0">
                            	<div class="col-md-6 pl-none">
                            		<div th:if="${PreviousPost != null}" 
	                                	class="blog__prev">
	                                    <a th:href="@{/blog/view/__${PreviousPost.soeUrl}__}">
	                                        <div class="blog-nav__img">
	                                            <img th:src="@{/blog/getphotogrid(originalFilename=${PreviousPost.photoActualite})}"
	                                            	alt="blog thumb">
	                                        </div>
	                                        <div class="blog-nav__content">
	                                            <span>Article Précédent</span>
	                                            <h4 th:text="${PreviousPost.titreActualite}"></h4>
	                                        </div>
	                                    </a>
	                                </div>
	                                <!-- /.blog-prev  -->
                            	</div>
                            	
                            	<div class="col-md-6 pr-none">
                            		<div th:if="${NextPost != null}"
		                            	class="blog__next">
		                                <a th:href="@{/blog/view/__${NextPost.soeUrl}__}">
		                                    <div class="blog-nav__content">
		                                        <span>Prochain Article</span>
		                                        <h4 th:text="${NextPost.titreActualite}"></h4>
		                                    </div>
		                                    <div class="blog-nav__img">
		                                        <img th:src="@{/blog/getphotogrid(originalFilename=${NextPost.photoActualite})}"
		                                        	alt="blog thumb">
		                                    </div>
		                                </a>
		                            </div>
		                            <!-- /.blog-next  -->
                            	</div>
                            </div>
                            <!-- /.blog-nav  -->
                        </div>
                        <!-- /.col-lg-8 -->
                        <div class="col-sm-12 col-md-12 col-lg-4">
                            <aside class="sidebar">
                                <div
                                	th:if="${#lists.size(ResteActualites) != 0}"
                                	class="widget widget-posts">
                                    <h5 class="widget__title">Posts Recent</h5>
                                    <div class="widget__content">
                                        <!-- post item #1 -->
                                        <div
                                        	th:each="e, custStat: ${ResteActualites}" 
                                        	class="widget-post-item d-flex align-items-center">
                                            <div class="widget-post__img">
                                                <a th:href="@{/blog/view/__${e.soeUrl}__}"><img alt="thumb"
                                                	th:src="@{/blog/getphotogrid(originalFilename=${e.photoActualite})}"></a>
                                            </div>
                                            <!-- /.widget-post-img -->
                                            <div class="widget-post__content">
                                                <span class="widget-post__date">
                                                	<span
		                                    			th:text="${#dates.format(e.dateDeParution, 'dd')}"></span>
		                                    		<span class="text-uppercase"
		                                    			th:text="${#dates.format(e.dateDeParution, 'MMMM')}"></span>,
		                                    		<span
		                                    			th:text="${#dates.format(e.dateDeParution, 'YYYY')}"></span>
                                                </span>
                                                <h5 class="widget-post__title">
                                                	<a th:href="@{/blog/view/__${e.soeUrl}__}">
                                                		<span th:text="${e.titreActualite}"></span></a>
                                                </h5>
                                            </div>
                                            <!-- /.widget-post-content -->
                                        </div>
                                        <!-- /.widget-post-item -->
                                    </div>
                                    <!-- /.widget-content -->
                                </div>
                                <!-- /.widget-posts -->
                                <div class="widget widget-categories">
                                    <h5 class="widget__title">Services</h5>
                                    <div class="widget-content">
                                        <ul class="list-unstyled">
                                            <li><a href="#"><span>IT Management</span><span class="cat-count">9</span></a></li>
                                            <li><a href="#"><span>Cyber Security</span><span class="cat-count">2</span></a></li>
                                            <li><a href="#"><span>Cloud Computing</span><span class="cat-count">5</span></a></li>
                                            <li><a href="#"><span>IT Consulting</span><span class="cat-count">1</span></a></li>
                                            <li><a href="#"><span>Software Dev</span><span class="cat-count">7</span></a></li>
                                        </ul>
                                    </div>
                                    <!-- /.widget-content -->
                                </div>
                                <!-- /.widget-categories -->
                                <div class="widget widget-tags">
                                    <h5 class="widget__title">Tags</h5>
                                    <div class="widget-content">
                                        <ul class="list-unstyled">
                                            <li><a href="#">Insights</a></li>
                                            <li><a href="#">Industry</a></li>
                                            <li><a href="#">Modern</a></li>
                                            <li><a href="#">Corporate</a></li>
                                            <li><a href="#">Business</a></li>
                                        </ul>
                                    </div>
                                    <!-- /.widget-content -->
                                </div>
                                <!-- /.widget-tags -->
                            </aside>
                            <!-- /.sidebar -->
                        </div>
                        <!-- /.col-lg-4 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </section>
            <!-- /.blog Single -->
            <!-- ========================
                Footer
                ========================== -->
            <footer class="footer bg-heading">
                <!-- ========================= _footer  ========================= -->
                <th:block th:include="partials/_footer/index :: _footer"></th:block>
                <!-- ========================= _footer end // ========================= -->
            </footer>
            <!-- /.Footer -->
            <!-- ========================= _left_side_bar  ========================= -->
            <th:block th:include="partials/_left_side_bar/index :: _left_side_bar"></th:block>
            <!-- ========================= _left_side_bar end // ========================= -->
        </div>
        <!-- /.wrapper -->
        <script th:src="@{/assets/js/jquery-3.5.1.min.js}"></script>
        <script th:src="@{/assets/js/plugins.js}"></script>
        <script th:src="@{/assets/js/main.js}"></script>
        <!-- ========================= shared_newsletters  ========================= -->
        <script th:src="@{/shared/front/newsletters/index.js}"></script>
        <!-- ========================= shared_newsletters end // ========================= -->
    </body>
</html>