<div th:fragment="_header">

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Administration</title>
    
    <meta property="site_name" content="Outil de la valorisation des compétences de la DIASPORA - Côte d'ivoire" />
    <meta name="title" description="Outil de la valorisation des compétences de la DIASPORA - Côte d'ivoire" />
    <meta name="description" content="Outil de la valorisation des compétences de la DIASPORA" />
    <meta name="keywords" content="Côte d'ivoire, Diaspora ivoirienne, Ministère de l'intégration Africaine et des Ivoiriens de l'Extérieur, Intégration Africaine, Ivoiriens de l'Extérieurs, Emploi, Compétences Ivoirienne, Ivoirien, Intégration, Emploi, Alassane Ouattara, Albert Flindé, Khalilou Sylla, République de Côte d'Ivoire, " />
    <meta name="author" content="Ministère de l'Intégration Africaine et des Ivoiriens de l'Extérieur" />
    
    <!-- Favicon -->
	<link th:href="@{/assets/images/favicon/favicon.png}" rel="icon" type="image/x-icon">
    <!-- Google Font: Source Sans Pro -->
    <link th:rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback}">
    <!-- Font Awesome Icons -->
    <link th:rel="stylesheet" th:href="@{/assets/admin/plugins/fontawesome-free/css/all.min.css}">
    <!-- Theme style -->
    <!--link th:rel="stylesheet" th:href="@{/assets/admin/dist/css/adminlte.min.css}"-->
    <link th:rel="stylesheet" th:href="@{/assets/admin/dist/css/adminlte.css}">
    
    <!-- custom.css -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/custom.css}" />
    
    <!-- overlayScrollbars -->
    <link th:rel="stylesheet" th:href="@{/assets/admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}">

</div>