<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
    
    <head>
    
    	<!-- Debut Header -->
	    <th:block th:include="partials/back/_header/index :: header"></th:block>
	    <!-- Fin Header -->
        
    </head>





    <body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
        <div class="wrapper">





            <!--Debut Preloader -->
            <th:block th:include="partials/back/_preloader/index :: preloader"></th:block>
            <!-- Debut Preloader -->





            <!-- Debut TopNavbar -->
            <th:block th:include="partials/back/_topbar/index :: topbar"></th:block>
            <!-- Fin TopNavbar -->




            
            <!-- Debut left_sidebar - Menu General -->
            <th:block th:include="partials/back/_left_sidebar/index :: left_sidebar"></th:block>
            <!-- Fin left_sidebar - Menu General -->





            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
            
            
            
            
            
				<!-- Debut breadcrumb -->
                <th:block th:include="partials/back/_breadcrumb/index :: breadcrumb"></th:block>
                <!-- Fin breadcrumb -->
                





                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                    
                    
                    
                    	<div class="row">
                            <div class="col-md-4">
                                <!-- Profile Image -->
                                <div class="card card-default card-outline m-none">
                                    <div class="card-body box-profile">
                                        <div class="text-center mb-lg">
                                        	<img th:src="@{/utilisateur/getphoto(username=${Entreprise.username})}"
		                                  		 th:alt="${Entreprise.raisonSociale}"
		                                  		 style="width: 70%;"
		                                  		 class="img-fluid table-avatar">
                                        </div>
                                        
                                        <div class="row m-none p-none">
                                        	<h3 class="card-title col-md-12 mb-md text-bold">Informations de contact</h3>
                                            <div class="col-md-12">
                                                <strong><i class="fas fa-user mr-sm"></i>Nom et Prénoms</strong>
                                                <p class="text-muted">
                                                    <span th:text="${Entreprise.nomPrenoms}"></span>
                                                </p>
                                                
                                                <strong><i class="fas fa-envelope mr-sm"></i>Adresse e-mail</strong>
                                                <p class="text-muted">
                                                    <span th:text="${Entreprise.username}"></span>
                                                </p>
                                                
                                                <strong><i class="fas fa-phone mr-sm"></i>Numéro de téléphone</strong>
                                                <p class="text-muted">
                                                    <span th:text="${Entreprise.numeroTelephone}"></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                            
                            <div class="col-md-8">
                            
                            	<form
                            		id="form_profil_entreprise"
                            		th:action="@{/entreprise/enableposte/}"
                            		th:object="${Entreprise}"
                            		method="post"> 
                                                    
                                                    
	                                <div class="card card-gray">
	                                    <div class="card-header">
	                                        <h3 class="card-title text-bold">Informations de l'Entreprise</h3>
	                                    </div>
	                                    <!-- /.card-header -->
	                                    <div class="card-body">
	                                    	<div class="row m-none p-none">
												<div class="col-md-6">
													<strong><i class="fas fa-building mr-sm"></i>Raison social</strong>
			                                        <p class="text-muted">
			                                        	<span th:text="${Entreprise.raisonSociale}"></span>
			                                        </p>
	
	                                                <strong><i class="fas fa-envelope mr-sm"></i>Adresse e-mail</strong>
	                                                <p class="text-muted">
	                                                    <span th:text="${Entreprise.emailEntreprise}"></span>
	                                                </p>
												</div>
												<div class="col-md-6">
	                                                <strong><i class="fas fa-phone mr-sm"></i>Numéro de téléphone</strong>
	                                                <p class="text-muted">
	                                                    <span th:text="${Entreprise.numeroTelephoneEntreprise}"></span>
	                                                </p>
	
													<strong><i class="fas fa-globe mr-sm"></i>Localisation</strong>
			                                        <p class="text-muted">
			                                        	<span th:text="${Entreprise.localisationEntreprise}"></span>
			                                        </p>
												</div>
											</div>
	                                        
	                                        <hr class="mt-none">
	
	                                        <div class="row m-none p-none">
	                                        	<h3 class="card-title col-md-12 mb-md">Informations Complémentaires</h3>
	                                            <div class="col-md-6">
	                                                <strong><i class="fas fa-gavel mr-sm"></i>Forme Juridique de l'entreprise</strong>
	                                                <p class="text-muted">
	                                                    <span th:text="${Entreprise.idFormeJuridique.nom}"></span>
	                                                </p>
	
	                                                <strong><i class="fas fa-users mr-sm"></i>Taille</strong>
	                                                <p class="text-muted">
	                                                    <span th:text="${Entreprise.idTailleEntreprise.nom}"></span>
	                                                </p>
	
	                                                <strong><i class="fa fa-suitcase mr-sm"></i>Chiffre d'Affaire</strong>
	                                                <p class="text-muted">
	                                                    <span th:text="${Entreprise.idChiffreAffaire.nom}"></span>
	                                                </p>
	                                            </div>
	                                            <div class="col-md-6">
	                                                <strong><i class="fa fa-rss mr-sm"></i>Secteur</strong>
	                                                <p class="text-muted">
	                                                    <span th:text="${Entreprise.idSecteur.nom}"></span>
	                                                </p>
	
	                                                <strong><i class="fab fa-facebook mr-sm"></i>Lien page Facebook</strong>
	                                                <p class="text-muted">
	                                                	<a th:href="${Entreprise.lienFacebook}" th:text="${Entreprise.lienFacebook}"></a>
	                                                </p>
	
	                                                <strong><i class="fab fa-linkedin mr-sm"></i>Lien page LinkedIn</strong>
	                                                <p class="text-muted">
	                                                	<a th:href="${Entreprise.lienLinkedIn}" th:text="${Entreprise.lienLinkedIn}"></a>
	                                                </p>
	                                            </div>
	                                        </div> 
	                                        
	                                        <div class="row mb-md mt-md">
	                                            <div class="col-md-12">
	                                                <input class="mr-xs" type="checkbox" name="enablePosteEmploi" id="enablePosteEmploi" th:field="*{enablePosteEmploi}">
	                                                Autoriser l'entreprise <span class="text-bold" th:text="${Entreprise.raisonSociale}"></span> à poster des offres d'emploi.
	                                            </div>
	                                        </div>
	                                        
	                                         <input
                                                        type="hidden" th:field="*{email}" name="email" class="form-control"
                                                        id="email" />
	                                        
	                                    </div>
	                                    <!-- /.card-body -->
	                                    <div class="card-footer">
	                                    	<a th:href="@{/entreprise}" class="btn btn-default btn-sm text-xs float-left">
	                                    		<span class="fas fa-building text-xs mr-xs"></span>Consulter d'autres profils entreprise
	                                    	</a>
	                                    	
	                                    	<button class="btn btn-success btn-sm text-xs float-right" type="submit" value="Enregistrer">
	                                    		<span class="fas fa-check text-xs mr-xs"></span>Enregistrer
	                                    	</button>
	                                    </div>
	                                </div>
	                                <!-- /.card -->
	                                
	                                 
	                                 	
                            	</form>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        
                        
                    </div>
                    <!--/. container-fluid -->
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
            
            
            
            
            
            <!-- Debut footer -->
            <th:block th:include="partials/back/_footer/index :: footer"></th:block>
            <!-- Fin footer -->
            
            
            
            
            
        </div>
        <!-- ./wrapper -->




        
        <!-- REQUIRED SCRIPTS -->
		<!-- jQuery -->
		<script th:src="@{/assets/back/plugins/jquery/jquery.min.js}"></script>
		<!-- Bootstrap -->
		<script th:src="@{/assets/back/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<!-- AdminLTE App -->
		<script th:src="@{/assets/back/dist/js/adminlte.js}"></script>
    </body>
</html>