<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:form="http://form"
    xmlns:field="http://field" lang="fr">
    <head>
        <!-- ========================= _header  ========================= -->
        <th:block th:include="partials/_head/index :: _head"></th:block>
        <!-- ========================= _header end // ========================= -->
    </head>
    <body>
        <div class="wrapper">
            <!-- =========================
                Header 
                =========================== -->
            <header class="header header-transparent">
                <!-- ========================= _nav_bar  ========================= -->
                <th:block th:include="partials/_top_bar/index :: _top_bar"></th:block>
                <!-- ========================= _nav_bar end // ========================= -->
                <!-- ========================= _nav_bar  ========================= -->
                <th:block th:include="partials/_nav_bar/index :: _nav_bar"></th:block>
                <!-- ========================= _nav_bar end // ========================= -->
            </header>
            <!-- /.Header -->
            <!-- ========================
                page title 
                =========================== -->
            <section class="page-title page-title-layout1 bg-overlay bg-parallax">
                <div class="bg-img"><img src="assets/images/page-titles/2.jpg" alt="background"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7">
                            <h1 class="pagetitle__heading">Nos solutions</h1>
                            <div class="breadcumb mb-md">
                                <a class="text-bold" th:href="@{/}">Accueil</a>
                                <i class="fa fa-angle-right"></i>
                                <span th:text="${page_title}"></span>
                            </div>
                            <p class="pagetitle__desc">
                                Nous sommes des professionnels expérimentés qui comprennent que les services
                                informatiques évoluent et sont de véritables partenaires soucieux de votre réussite.
                                Notre équipe offre une approche consultative sur les technologies émergentes.
                            </p>
                        </div>
                        <!-- /.col-xl-6 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </section>
            <!-- /.page-title -->
            <!-- ========================
                About Layout 3
                =========================== -->
            <section id="about" class="about-layout3">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <div class="heading-layout2 mb-40">
                                <h3 class="heading__title mb-30">Nos solutions <span class="color_red_ebenyx">novatrice</span> repondant à vos besoins
                                </h3>
                                <p class="heading__desc">
                                    <span class="text-bold color_red_ebenyx">Ebenyx Technologies</span> développe des solutions qui faciliteront la gestion de votre entreprise
                                    et votre activité quotidienne. Allant de la gestion de vos ressources humaines à celle de vos ventes, stocks etc..
                                    Nous disposons de solutions modulables et ajustables en fonction de vos besoins. 
                                </p>
                            </div>
                            <!-- /heading -->
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <div class="sticky-top">
                                <div class="about__img">
                                    <img src="assets/images/about/7.jpg"  alt="about">
                                    <div class="cta-banner p-none">
                                        <div class="cta-banner__item">
                                            <div class="cta-banner__icon m-none">
                                                <img src="assets/images/about/ebt.png" class="p-sm" alt="about">
                                            </div>
                                        </div>
                                        <!-- /.cta-banner__item -->
                                    </div>
                                    <!-- /.cta-banner -->
                                </div>
                                <!-- /.about-img -->
                            </div>
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </section>
            <!-- /.About Layout 3 -->
            <!-- =========================== 
                portfolio layout 2
                ============================= -->
            <section id="case-studies" class="portfolio-layout2 pt-none mt-none portfolio-layout2-carousel">
                <div class="container">
                    <div class="row">
                    	<div th:each="e, custStat: ${Solutions}" 
                    		class="col-sm-6 col-md-6 col-lg-4 mix filter-Support" style="display: inline-block;">
				            <div class="portfolio-item">
				              <div class="portfolio-item__content">
				                <h4 class="portfolio-item__title"><a th:href="@{/solutions/view/__${e.soeUrl}__}">
				                <span th:text="${e.titre}"></span></a></h4>
				                <p class="portfolio-item__desc"><span th:text="${e.description}"></span></p>
				                <a th:href="@{/solutions/view/__${e.soeUrl}__}"
				                	class="btn btn__secondary btn__bordered">
				                  <span>Lire plus</span>
				                  <i class="icon-arrow-right"></i>
				                </a>
				              </div><!-- /.portfolio-content -->
				              <div class="portfolio-item__img">
				                <a th:href="@{/solutions/view/__${e.soeUrl}__}">
				                	<img th:alt="${e.photo}"
				                		th:src="@{/solutions/getphoto(filename=${e.photo})}"></a>
				              </div><!-- /.portfolio-img -->
				            </div><!-- /.portfolio-item -->
				          </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </section>
            <!-- /.portfolio layout 2 -->
            <!-- ========================
                Footer
                ========================== -->
            <footer class="footer bg-heading">
                <!-- ========================= _footer  ========================= -->
                <th:block th:include="partials/_footer/index :: _footer"></th:block>
                <!-- ========================= _footer end // ========================= -->
            </footer>
            <!-- /.Footer -->
            <!-- ========================= _left_side_bar  ========================= -->
            <th:block th:include="partials/_left_side_bar/index :: _left_side_bar"></th:block>
            <!-- ========================= _left_side_bar end // ========================= -->
        </div>
        <!-- /.wrapper -->
        <script th:src="@{/assets/js/jquery-3.5.1.min.js}"></script>
        <script th:src="@{/assets/js/plugins.js}"></script>
        <script th:src="@{/assets/js/main.js}"></script>
        <!-- ========================= shared_newsletters  ========================= -->
        <script th:src="@{/shared/front/newsletters/index.js}"></script>
        <!-- ========================= shared_newsletters end // ========================= -->
    </body>
</html>