<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:form="http://form"
    xmlns:field="http://field" lang="fr">
    
    <head>
    	<!-- _header -->
        <th:block th:include="admin/partials/_header/index :: _header"></th:block>
        <!-- /. _header -->
        <!-- summernote -->
		<link rel="stylesheet" th:href="@{/assets/admin/plugins/summernote/summernote-bs4.min.css}">
    </head>





    <body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
        <div class="wrapper">

            <!-- _topbar -->
            <th:block th:include="admin/partials/_topbar/index :: _topbar"></th:block>
            <!-- /. _topbar -->
            <!-- _left_sidebar -->
            <th:block th:include="admin/partials/_left_sidebar/index :: _left_sidebar"></th:block>
            <!-- /. _left_sidebar -->


            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
            
            
            
            
            
				<!-- breadcrumb -->
                <th:block th:include="admin/partials/_breadcrumb/index :: _breadcrumb"></th:block>
                <!-- /. breadcrumb -->
                





                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">





                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                	<div class="card-header">
                                    	<h6 class="modal-title text-bold">[Formulaire de modification]</h6>
                                    </div>
                                    <div class="card-body p-0">
                                    
                                        <form id="form_create"
										    th:action="@{/actualite/update}"
										    th:object="${Actualite}"
										    method="post" role="form"
										    autocomplete="off"
										    enctype="multipart/form-data">
										    
										    <div class="modal-body">
										    
										    	<input type="hidden" th:field="*{idActualite}"/>
										    
										        <p class="text-right text-muted p-none m-none">
										            <small>Les champs marqués d'un <code><span class="required">(*)</span></code> sont obligatoires</small>
										        </p>
										        
										        <div class="row">
										            <div class="col-sm-6">
										                <div class="form-group">
										                    <label for="titreActualite">Titre <small class="required">*</small></label>
										                    <input th:field="*{titreActualite}" type="text" required=""
										                    		id="titreActualite" class="form-control" placeholder="Titre">
										                    <small class="text-danger" th:errors="*{titreActualite}"></small>
										                    <small class="text-bold">Permalink:</small> <small class="text-muted" th:text="*{'/blog/view/' + soeUrl}"></small>
										                </div>
										            </div>
										            
										            <div class="col-sm-6">
										                <div class="form-group">
										                    <label for="dateDeParution">Date de parution <small class="required">*</small></label>
										                    <input th:field="*{dateDeParution}" type="date" required=""
										                    		id="dateDeParution" class="form-control">
									                    	<small class="text-danger" th:errors="*{dateDeParution}"></small>
										                </div>
										            </div>
										        </div>
										        
										        <div class="row">
										        	<div class="col-md-4">
												        <div class="form-group">
												            <label for="photoActualiteGrid">Image de mise en avant</label>
												            <input type="file" class="form-control" name="file1"
												            	title="Importer une photo" accept=".jpg, .jpeg, .png">
												        </div>
												    </div>
												    
												    <div class="col-sm-8">
								                      	<div class="form-group">
								                        	<label for="idActualiteStatus">Status <small class="required">*</small></label>
								                        	<select
						                                        th:field="*{idActualiteStatus}"
						                                        class="form-control" required="">
						                                        <option
						                                            th:each="p: ${ActualiteStatus}"
						                                            th:value="${p.idActualiteStatus}"
						                                            th:text="${p.nom}"/>
						                                    </select>
						                                    <small class="text-danger" th:errors="*{idActualiteStatus}"></small>
								                      	</div>
								                    </div>
										        </div>
										        <hr>
										        
										        <div class="row">
										        	<div class="col-md-9">
												        <div class="form-group">
												            <label for="contenuActualite">Contenu de l'article <small class="required">*</small></label>
												            <textarea
												            	th:field="*{contenuActualite}"
												            	class="form-control"></textarea>
												            	<small class="text-danger" th:errors="*{contenuActualite}"></small>
												        </div>
												    </div>
												    
												    <div class="col-md-3">
												        <div class="form-group">
												            <label for="tags">Tag <small class="required">*</small></label>
												            <textarea
												            	th:field="*{tags}"
												            	class="form-control" rows="3" placeholder="Tag"></textarea>
												            	<small class="text-danger" th:errors="*{tags}"></small>
												        </div>
												    </div>
										        </div>                  
										    </div>
										    
										    
										    <div class="modal-footer justify-content-between">
										        <a th:href="@{/actualite}" class="btn btn-danger btn-sm">
										        	<span class="fa fa-times text-xs mr-xs"></span>Anuller</span></a>
										        	
										        <button type="submit" class="btn btn-success btn-sm">
										            <span class="fa fa-check text-xs mr-xs"></span>
										            Save changes</button>
										    </div>
										</form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->





                    </div>
                    <!--/. container-fluid -->
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
            
            
            
            
            
            <!-- footer -->
            <th:block th:include="admin/partials/_footer/index :: _footer"></th:block>
            <!-- /. footer -->
            
            
            
            
            
        </div>
        <!-- ./wrapper -->




        
        <!-- REQUIRED SCRIPTS -->
		<!-- jQuery -->
		<script th:src="@{/assets/admin/plugins/jquery/jquery.min.js}"></script>
		<!-- Bootstrap -->
		<script th:src="@{/assets/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<!-- AdminLTE App -->
		<script th:src="@{/assets/admin/dist/js/adminlte.js}"></script>
		<!-- PAGE PLUGINS -->
        <!-- jquery-validation -->
		<script th:src="@{/assets/admin/plugins/jquery-validation/jquery.validate.js}"></script>
		<script th:src="@{/assets/admin/plugins/jquery-validation/additional-methods.min.js}"></script>
		
		<!-- Page specific script -->
		<!-- Summernote -->
		<script th:src="@{/assets/admin/plugins/summernote/summernote-bs4.min.js}"></script>
		<script>
		  $(function () {
		    // Summernote
		    $('#contenuActualite').summernote()
		  })
		</script>
    </body>
</html>