<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:form="http://form"
    xmlns:field="http://field" lang="fr">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link th:href="@{/assets/images/favicon/favicon.png}" rel="icon">
        <title th:text="'Ebenyx Technologies - Intégration de Solutions | Se connecter'"></title>
        <!-- Google Font: Source Sans Pro -->
        <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="/assets/admin/plugins/fontawesome-free/css/all.min.css">
        <!-- icheck bootstrap -->
        <link rel="stylesheet" href="/assets/admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="/assets/admin/dist/css/adminlte.css">
        <!-- custom.css -->
        <link rel="stylesheet" type="text/css" th:href="@{/assets/custom.css}" />
    </head>
    
    <body class="hold-transition login-page">
        <div class="login-box">
            <!-- /.login-logo -->
            <div class="card card-outline">
                <div class="card-header text-center">
                    <img src="/assets/images/logo/logo.png" class="p-lg" alt="logo">
                </div>
                <div class="card-body">
                    <p class="login-box-msg">Veuillez entrer vos credentials</p>
                    <form th:action="@{/login}" method="post" autocomplete="on">
                        <div class="input-group mb-3">
                            <input type="email"
                                id="username" name="username" required="true"
                                class="form-control" placeholder="Adresse email">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="password"
                                id="password" name="password" required="true"
                                class="form-control" placeholder="Mot de passe">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary btn-block mt-md">Se connecter</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>
                    <hr>
                    <p class="mb-1">
                        <small>
                        <a th:href="@{/forgot_password}">Mot de passe oublié</a>
                        </small>
                    </p>
                    <p class="mb-0">
                        <small>
                        <a th:href="@{/}" class="text-center">Revenir au site intenet</a>
                        <smallp>
                    </p>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.login-box -->
        
        <!-- jQuery -->
        <script src="/assets/admin/plugins/jquery/jquery.min.js"></script>
        <!-- Bootstrap 4 -->
        <script src="/assets/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- AdminLTE App -->
        <script src="/assets/admin/dist/js/adminlte.min.js"></script>
    </body>
</html>