<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:form="http://form"
    xmlns:field="http://field" lang="fr">
    <head>
        <!-- ========================= _header  ========================= -->
        <th:block th:include="partials/_head/index :: _head"></th:block>
        <!-- ========================= _header end // ========================= -->
    </head>
    <body>
        <div class="wrapper">
            <!-- =========================
                Header 
                =========================== -->
            <header class="header header-transparent">
                <!-- ========================= _nav_bar  ========================= -->
                <th:block th:include="partials/_top_bar/index :: _top_bar"></th:block>
                <!-- ========================= _nav_bar end // ========================= -->
                <!-- ========================= _nav_bar  ========================= -->
                <th:block th:include="partials/_nav_bar/index :: _nav_bar"></th:block>
                <!-- ========================= _nav_bar end // ========================= -->
            </header>
            <!-- /.Header -->
            <!-- ========================
                page_title 
                =========================== -->
            <section class="page-title page-title-layout16 bg-overlay bg-parallax">
                <div class="bg-img"><img th:src="@{/assets/images/page-titles/2.jpg}" alt="background"></div>
                <div class="container">
                    <div class="row text-center">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <h2 class="pagetitle__heading mb-10"><span th:text="${page_title}"></span></h2>
                            <div class="breadcumb">
                                <a class="text-bold" th:href="@{/}">Accueil</a>
                                <i class="fa fa-angle-right"></i>
                                <span th:text="${page_title}"></span>
                            </div>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </section>
            <!-- /.page_title -->
            
            <section class="secondary-nav sticky-top py-0">
		      <div class="container">
		        <div class="row">
		          <div class="col-12">
		            <nav class="nav nav-tabs justify-content-center">
		              <a th:href="@{/realisations}" class="nav__link">Toutes</a>
		              <a th:href="@{/realisations/oracle}" data-scroll="features" class="nav__link active">Oracle</a>
		              <a th:href="@{/realisations/transformation-digitale}" class="nav__link">Transformation Digitale</a>
		              <a th:href="@{/realisations/formation}" class="nav__link">Formation</a>
		              <a th:href="@{/realisations/cybersecutite}" class="nav__link">Cybersécutité </a>
		            </nav>
		          </div><!-- /.col-12 -->
		        </div><!-- /.row -->
		      </div><!-- /.container -->
		    </section>
            
            <section class="pt-50">
            	<div class="container">
        			<div class="row">
          				<div class="col-sm-12 col-md-12 col-lg-12">
	          				<p class="h6">
	          					Expert en solutions Oracle, l’un de nos partenaires,
	          					Ebenyx a accompagné de nombreux acteurs de la sphère publique comme privée dans ce domaine au
	          					fil des dernières années.
	          				</p>
	          				
	          				<p class="h6 pt-20">
	          					Retour en détail sur ce qui a été réalisé pour certains de nos clients :
	          				</p>
          				</div><!-- /.col-xl-12 -->
        			</div><!-- /.row -->
      			</div><!-- /.container -->
			</section>
            <!-- =========================== 
                portfolio grid 
                ============================= -->
            <section class="portfolio-grid pt-0">
                <div class="container">
                    <div id="filtered-items-wrap" class="row">
                        <!-- portfolio item #1 -->
                        <div class="col-sm-6 col-md-6 col-lg-4 mix filter-Support offset-lg-2">
                            <div class="portfolio-item">
                                <div class="portfolio-item__img">
                                    <img th:src="@{/assets/images/portfolio/grid/1.jpg}" alt="portfolio img">
                                </div>
                                <!-- /.portfolio-img -->
                                <div class="portfolio-item__content pl-0">
                                    <h4 class="portfolio-item__title"><a href="#">BURIDA – <br>
                                    	<span class="color_red_ebenyx">2020 - Fournitures d’équipement informatique</span></a>
                                    </h4>
                                    <p class="portfolio-item__desc">
                                    	Acquérir un matériel informatique semble aisé, mais encore faut il acquérir le bon.
                                    	Avec Ebenyx obtenez vos appareils directement avec l’entreprise créatrice.
                                    	Assurez vous un bon service après vente avec le personnel d’Ebenyx certifiés et outillés
                                    	pour faire fasse a vos préoccupations.  Nous accompagnons ainsi le BURIDA, avec des matériels
                                    	informatiques de dernières générations, fiables, solides et a la pointe de la technologie.
                                    </p>
                                </div>
                                <!-- /.portfolio-content -->
                            </div>
                            <!-- /.portfolio-item -->
                        </div>
                        <!-- /.col-lg-4 -->
                        <!-- portfolio item #2 -->
                        <div class="col-sm-6 col-md-6 col-lg-4 mix filter-Consulting">
                            <div class="portfolio-item">
                                <div class="portfolio-item__img">
                                    <img th:src="@{/assets/images/portfolio/grid/1.jpg}" alt="portfolio img">
                                </div>
                                <!-- /.portfolio-img -->
                                <div class="portfolio-item__content pl-0">
                                    <h4 class="portfolio-item__title"><a href="#">Caisse Nationale d’Assurance Maladie<br>
                                    	<span class="color_red_ebenyx">2015 - Migration MySQL vers Oracle</span></a>
                                    </h4>
                                    <p class="portfolio-item__desc">
                                    	En 2015, l’état ivoirien décide d’une emphase de la ,politique d’assurance maladie,
                                    	sur l’étendu du territoire. Cela va de soit que l’ensemble des données traités,
                                    	de quantité colossale avait besoin d’un système plus sécurisé et performant.
                                    	C’est ce que Ebenyx Technologies va apporter a la CNAM  avec Oracle Database en 2015.
                                    	Ce système de stockage et de gestion de base de données apporte performances, rapidité,
                                    	sécurité et solidité dans le stockage et le traitement des données.
                                    </p>
                                </div>
                                <!-- /.portfolio-content -->
                            </div>
                            <!-- /.portfolio-item -->
                        </div>
                        <!-- /.col-lg-4 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </section>
            <!-- /.portfolio grid -->
            <!-- ========================
                Footer
                ========================== -->
            <footer class="footer bg-heading">
                <!-- ========================= _footer  ========================= -->
                <th:block th:include="partials/_footer/index :: _footer"></th:block>
                <!-- ========================= _footer end // ========================= -->
            </footer>
            <!-- /.Footer -->
            <!-- ========================= _left_side_bar  ========================= -->
            <th:block th:include="partials/_left_side_bar/index :: _left_side_bar"></th:block>
            <!-- ========================= _left_side_bar end // ========================= -->
        </div>
        <!-- /.wrapper -->
        <script th:src="@{/assets/js/jquery-3.5.1.min.js}"></script>
        <script th:src="@{/assets/js/plugins.js}"></script>
        <script th:src="@{/assets/js/main.js}"></script>
        <!-- ========================= shared_newsletters  ========================= -->
        <script th:src="@{/shared/front/newsletters/index.js}"></script>
        <!-- ========================= shared_newsletters end // ========================= -->
    </body>
</html>