<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:form="http://form"
    xmlns:field="http://field" lang="fr">
    <head>
        <!-- ========================= _header  ========================= -->
        <th:block th:include="partials/_head/index :: _head"></th:block>
        <!-- ========================= _header end // ========================= -->
    </head>
    <body>
        <div class="wrapper">
            <!-- =========================
                Header 
                =========================== -->
            <header class="header header-transparent">
                <!-- ========================= _nav_bar  ========================= -->
                <th:block th:include="partials/_top_bar/index :: _top_bar"></th:block>
                <!-- ========================= _nav_bar end // ========================= -->
                <!-- ========================= _nav_bar  ========================= -->
                <th:block th:include="partials/_nav_bar/index :: _nav_bar"></th:block>
                <!-- ========================= _nav_bar end // ========================= -->
            </header>
            <!-- /.Header -->
            <!-- ========================
                page_title 
                =========================== -->
            <section class="page-title page-title-layout16 bg-overlay bg-parallax">
                <div class="bg-img"><img th:src="@{/assets/images/page-titles/2.jpg}" alt="background"></div>
                <div class="container">
                    <div class="row text-center">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <h2 class="pagetitle__heading mb-10"><span th:text="${page_title}"></span></h2>
                            <div class="breadcumb">
                                <a class="text-bold" th:href="@{/}">Accueil</a>
                                <i class="fa fa-angle-right"></i>
                                <span th:text="${page_title}"></span>
                            </div>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </section>
            <!-- /.page_title -->
            
            <section class="secondary-nav sticky-top py-0">
		      <div class="container">
		        <div class="row">
		          <div class="col-12">
		            <nav class="nav nav-tabs justify-content-center">
		              <a th:href="@{/realisations}" class="nav__link">Toutes</a>
		              <a th:href="@{/realisations/oracle}" data-scroll="features" class="nav__link">Oracle</a>
		              <a th:href="@{/realisations/transformation-digitale}" class="nav__link active">Transformation Digitale</a>
		              <a th:href="@{/realisations/formation}" class="nav__link">Formation</a>
		              <a th:href="@{/realisations/cybersecutite}" class="nav__link">Cybersécutité </a>
		            </nav>
		          </div><!-- /.col-12 -->
		        </div><!-- /.row -->
		      </div><!-- /.container -->
		    </section>
		    
            <!-- =========================== 
                portfolio grid 
                ============================= -->
            <section class="portfolio-grid pt-50">
                <div class="container">
                    <div id="filtered-items-wrap" class="row">
                        <!-- portfolio item #1 -->
                        <div class="col-sm-6 col-md-6 col-lg-4 mix filter-Support">
                            <div class="portfolio-item">
                                <div class="portfolio-item__img">
                                    <img th:src="@{/assets/images/portfolio/grid/1.jpg}" alt="portfolio img">
                                </div>
                                <!-- /.portfolio-img -->
                                <div class="portfolio-item__content pl-0">
                                    <h4 class="portfolio-item__title"><a href="#">Société Générale Côte d’Ivoire – <br>
                                        <span class="color_red_ebenyx">depuis 2019 - Transformation Digitale</span></a>
                                    </h4>
                                    <p class="portfolio-item__desc">
                                        <span class="text-bold h6 color_red_ebenyx">Remédiation</span><br>
                                        Installé et en production depuis 2018, Remédiation est un projet phare de la <span class="key">SGCI</span>.
                                        Ce projet a aboutit à une application qui traite, trie les bases de données au sein de l’entreprise pour en
                                        faire ressortir ces <span class="key">KYC</span> Outre cela, elle intègre de multiples fonctions comme la EER ou
                                        encore injection et l’extraction de données.
                                    </p>
                                </div>
                                <!-- /.portfolio-content -->
                            </div>
                            <!-- /.portfolio-item -->
                        </div>
                        <!-- /.col-lg-4 -->
                        <!-- portfolio item #2 -->
                        <div class="col-sm-6 col-md-6 col-lg-4 mix filter-Consulting">
                            <div class="portfolio-item">
                                <div class="portfolio-item__img">
                                    <img th:src="@{/assets/images/portfolio/grid/1.jpg}" alt="portfolio img">
                                </div>
                                <!-- /.portfolio-img -->
                                <div class="portfolio-item__content pl-0">
                                    <h4 class="portfolio-item__title"><a href="#">Port Autonome d’Abidjan – <br>
                                        <span class="color_red_ebenyx">depuis 2016 - Transformation Digitale</span></a>
                                    </h4>
                                    <p class="portfolio-item__desc">
                                        Installation et maintenance de l’environnement Oracle
                                        Comme dans tout organisme qui traite des millions de données, le port autonome d’Abidjan
                                        avait besoin d’un système de stockage de ces données, sur et rapide. Alors depuis 2016,
                                        Ebenyx accompagne le port a travers cette aventure avec de l’infogérence,  des RDA, 
                                        et plusieurs maintenances et migration.
                                    </p>
                                </div>
                                <!-- /.portfolio-content -->
                            </div>
                            <!-- /.portfolio-item -->
                        </div>
                        <!-- /.col-lg-4 -->
                        <!-- portfolio item #2 -->
                        <div class="col-sm-6 col-md-6 col-lg-4 mix filter-Consulting">
                            <div class="portfolio-item">
                                <div class="portfolio-item__img">
                                    <img th:src="@{/assets/images/portfolio/grid/1.jpg}" alt="portfolio img">
                                </div>
                                <!-- /.portfolio-img -->
                                <div class="portfolio-item__content pl-0">
                                    <h4 class="portfolio-item__title"><a href="#">Société Générale Côte d’Ivoire – <br>
                                        <span class="color_red_ebenyx">depuis 2018 - Transformation Digitale</span></a>
                                    </h4>
                                    <p class="portfolio-item__desc">
                                        <span class="text-bold h6 color_red_ebenyx">FEER</span><br>
                                        Ebenyx a transformé un processus simple mais très sinueux en un clic. Par FEER,
                                        la génération de contrat avec les normes se fait grâce à un clic. Générer des contrats,
                                        les faire signer. Ce logiciel est un redoutable avantage contre la concurrence,
                                        qui optimise les performances de l’entreprise, la rapidité du personnel et l’augmentation du chiffre d’affaire.
                                    </p>
                                </div>
                                <!-- /.portfolio-content -->
                            </div>
                            <!-- /.portfolio-item -->
                        </div>
                        <!-- /.col-lg-4 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </section>
            <!-- /.portfolio grid -->
            <!-- ========================
                Footer
                ========================== -->
            <footer class="footer bg-heading">
                <!-- ========================= _footer  ========================= -->
                <th:block th:include="partials/_footer/index :: _footer"></th:block>
                <!-- ========================= _footer end // ========================= -->
            </footer>
            <!-- /.Footer -->
            <!-- ========================= _left_side_bar  ========================= -->
            <th:block th:include="partials/_left_side_bar/index :: _left_side_bar"></th:block>
            <!-- ========================= _left_side_bar end // ========================= -->
        </div>
        <!-- /.wrapper -->
        <script th:src="@{/assets/js/jquery-3.5.1.min.js}"></script>
        <script th:src="@{/assets/js/plugins.js}"></script>
        <script th:src="@{/assets/js/main.js}"></script>
        <!-- ========================= shared_newsletters  ========================= -->
        <script th:src="@{/shared/front/newsletters/index.js}"></script>
        <!-- ========================= shared_newsletters end // ========================= -->
    </body>
</html>