<div th:fragment="_left_side_bar">
    <div class="burger-menu">
        <div class="burger-menu__content">
            <button type="button" class="burger-menu__close"><i class="fas fa-times"></i></button>
            <div class="burger-menu__header">
                <img th:src="@{/assets/images/logo/logo_light.png}" alt="logo" class="mb-30">
                <div class="color-white">
                    <blockquote>
                        <p>
                            « <span th:text="${session.Parametre.motFondateur}"></span> »
                        </p>
                        <small><span class="text-bold color_red_ebenyx" th:text="${session.Parametre.fondateur}"></span>,
                        	<cite>Fondateur et CEO Ebenyx Technologies</cite></small>
                    </blockquote>
                </div>
            </div>
            <!-- /.burger-menu__header -->
            <div class="contact-blocks-wrapper">
                <div class="contact-block contact-block-light">
                    <h5 class="contact-block__title">Les locaux commerciaux</h5>
                    <ul class="contact-block__list list-unstyled">
                        <li>
                            <span th:text="${session.Parametre.localisation}"></span>
                        </li>
                    </ul>
                </div>
                <!-- /.contact-panel__info__block -->
                <!-- /.contact-info -->
                <div class="contact-block contact-block-light">
                    <h5 class="contact-block__title">Nous contacter</h5>
                    
                    
                    <ul class="contact-block__list list-unstyled">
                    	<li><a href="tel:002250708280544">
                            <span th:text="${session.Parametre.contactInfoLine_1}" class="text-white"></span></a>
                        </li>
                        <li class="mb-sm"><a href="tel:002250708280544">
                            <span th:text="${session.Parametre.contactInfoLine_2}" class="text-white"></span></a>
                        </li>
                        <li>Email: <a th:href="'mailto:' + ${session.Parametre.emailContact}">
                        	<span th:text="${session.Parametre.emailContact}"></span></a></li>
                    </ul>
                </div>
                <!-- /.contact-panel__info__block -->
                <ul class="social-icons list-unstyled mb-30 mt-20">
                    <li><a class="icon_facebook"
                        th:href="${session.Parametre.pageFacebook}"
                        th:target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a th:href="${session.Parametre.pageLinkedIn}" th:target="_blank"><i class="fab fa-linkedin"></i></a></li>
                    <li><a class="icon_whatsapp"
                        th:href="@{'https://wa.me/' + ${session.Parametre.whatsApp}}"
                        th:target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                </ul>
                <!-- /.social-icons -->
                <div class="contact-block contact-block-light">
                    <h5 class="contact-block__title">Horaires</h5>
                    <ul class="contact-block__list list-unstyled">
                        <li>Lundi au Vendredi de 08:00 - 18:00</li>
                    </ul>
                </div>
                <!-- /.contact-panel__info__block -->
                <div>
                    <ul class="contact-block__list list-unstyled">
                        <li>
                            <small>
                            <a th:href="@{/login}"
                                th:target="_blank"
                                class="color-white">
                            <i class="icon-user mr-sm"></i><span>Login</span></a></small>
                        </li>
                    </ul>
                </div>
                <!-- /.contact-panel__info__block -->
            </div>
            <!-- /.contact-blocks-wrapper -->
        </div>
        <!-- /.burger-menu__content -->
    </div>
    <!-- /.burger-menu -->
</div>