<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:form="http://form"
    xmlns:field="http://field" lang="fr">
    <head>
        <!-- ========================= _header  ========================= -->
        <th:block th:include="partials/_head/index :: _head"></th:block>
        <!-- ========================= _header end // ========================= -->
    </head>
    <body>
        <div class="wrapper">
            <!-- =========================
                Header 
                =========================== -->
            <header class="header header-transparent">
                <!-- ========================= _nav_bar  ========================= -->
                <th:block th:include="partials/_top_bar/index :: _top_bar"></th:block>
                <!-- ========================= _nav_bar end // ========================= -->
                <!-- ========================= _nav_bar  ========================= -->
                <th:block th:include="partials/_nav_bar/index :: _nav_bar"></th:block>
                <!-- ========================= _nav_bar end // ========================= -->
            </header>
            <!-- /.Header -->
            <!-- ========================
                page_title 
                =========================== -->
            <section class="page-title page-title-layout16 bg-overlay bg-parallax">
                <div class="bg-img"><img src="assets/images/page-titles/1.png" alt="background"></div>
                <div class="container">
                    <div class="row text-center">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <h2 class="pagetitle__heading mb-10">FAQs</h2>
                            <div class="breadcumb">
                                <a class="text-bold" th:href="@{/}">Accueil</a>
                                <i class="fa fa-angle-right"></i>
                                <span th:text="${page_title}"></span>
                            </div>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </section>
            <!-- /.page_title -->
            <!-- ======================
                FAQ
                ========================= -->
            <section class="faq pt-130 pb-100">
                <div class="container">
                    <div class="row" id="accordion">
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <div class="accordion-item">
                                <div class="accordion-item__header" data-toggle="collapse" data-target="#collapse1">
                                    <a class="accordion-item__title" href="#">Which Plan Is Right For Me?</a>
                                </div>
                                <!-- /.accordion-item-header -->
                                <div id="collapse1" class="collapse" data-parent="#accordion">
                                    <div class="accordion-item__body">
                                        <p>With any financial product that you buy, it is important that you know you are getting the best
                                            advice from a reputable company as often
                                        </p>
                                    </div>
                                    <!-- /.accordion-item-body -->
                                </div>
                            </div>
                            <!-- /.accordion-item -->
                            <div class="accordion-item">
                                <div class="accordion-item__header" data-toggle="collapse" data-target="#collapse2">
                                    <a class="accordion-item__title" href="#">Do I have to commit to a contract?</a>
                                </div>
                                <!-- /.accordion-item-header -->
                                <div id="collapse2" class="collapse" data-parent="#accordion">
                                    <div class="accordion-item__body">
                                        <p>With any financial product that you buy, it is important that you know you are getting the best
                                            advice from a reputable company as often
                                        </p>
                                    </div>
                                    <!-- /.accordion-item-body -->
                                </div>
                            </div>
                            <!-- /.accordion-item -->
                            <div class="accordion-item opened">
                                <div class="accordion-item__header" data-toggle="collapse" data-target="#collapse3">
                                    <a class="accordion-item__title" href="#">What Payment Methods Are Available?</a>
                                </div>
                                <!-- /.accordion-item-header -->
                                <div id="collapse3" class="collapse show" data-parent="#accordion">
                                    <div class="accordion-item__body">
                                        <p>With any financial product that you buy, it is important that you know you are getting the best
                                            advice from a reputable company as often
                                        </p>
                                    </div>
                                    <!-- /.accordion-item-body -->
                                </div>
                            </div>
                            <!-- /.accordion-item -->
                            <div class="accordion-item">
                                <div class="accordion-item__header" data-toggle="collapse" data-target="#collapse4">
                                    <a class="accordion-item__title" href="#">What if I pick the wrong plan?</a>
                                </div>
                                <!-- /.accordion-item-header -->
                                <div id="collapse4" class="collapse" data-parent="#accordion">
                                    <div class="accordion-item__body">
                                        <p>With any financial product that you buy, it is important that you know you are getting the best
                                            advice from a reputable company as often
                                        </p>
                                    </div>
                                    <!-- /.accordion-item-body -->
                                </div>
                            </div>
                            <!-- /.accordion-item -->
                            <div class="accordion-item">
                                <div class="accordion-item__header" data-toggle="collapse" data-target="#collapse5">
                                    <a class="accordion-item__title" href="#">Any contracts or commitments?</a>
                                </div>
                                <!-- /.accordion-item-header -->
                                <div id="collapse5" class="collapse" data-parent="#accordion">
                                    <div class="accordion-item__body">
                                        <p>With any financial product that you buy, it is important that you know you are getting the best
                                            advice from a reputable company as often
                                        </p>
                                    </div>
                                    <!-- /.accordion-item-body -->
                                </div>
                            </div>
                            <!-- /.accordion-item -->
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <div class="accordion-item">
                                <div class="accordion-item__header" data-toggle="collapse" data-target="#collapse6">
                                    <a class="accordion-item__title" href="#">What are my payment options?</a>
                                </div>
                                <!-- /.accordion-item-header -->
                                <div id="collapse6" class="collapse" data-parent="#accordion">
                                    <div class="accordion-item__body">
                                        <p>With any financial product that you buy, it is important that you know you are getting the best
                                            advice from a reputable company as often
                                        </p>
                                    </div>
                                    <!-- /.accordion-item-body -->
                                </div>
                            </div>
                            <!-- /.accordion-item -->
                            <div class="accordion-item">
                                <div class="accordion-item__header" data-toggle="collapse" data-target="#collapse7">
                                    <a class="accordion-item__title" href="#">How does the free trial work?</a>
                                </div>
                                <!-- /.accordion-item-header -->
                                <div id="collapse7" class="collapse" data-parent="#accordion">
                                    <div class="accordion-item__body">
                                        <p>With any financial product that you buy, it is important that you know you are getting the best
                                            advice from a reputable company as often
                                        </p>
                                    </div>
                                    <!-- /.accordion-item-body -->
                                </div>
                            </div>
                            <!-- /.accordion-item -->
                            <div class="accordion-item">
                                <div class="accordion-item__header" data-toggle="collapse" data-target="#collapse8">
                                    <a class="accordion-item__title" href="#">What Payment Methods Are Available?</a>
                                </div>
                                <!-- /.accordion-item-header -->
                                <div id="collapse8" class="collapse" data-parent="#accordion">
                                    <div class="accordion-item__body">
                                        <p>With any financial product that you buy, it is important that you know you are getting the best
                                            advice from a reputable company as often
                                        </p>
                                    </div>
                                    <!-- /.accordion-item-body -->
                                </div>
                            </div>
                            <!-- /.accordion-item -->
                            <div class="accordion-item">
                                <div class="accordion-item__header" data-toggle="collapse" data-target="#collapse9">
                                    <a class="accordion-item__title" href="#">How does the free trial work?</a>
                                </div>
                                <!-- /.accordion-item-header -->
                                <div id="collapse9" class="collapse" data-parent="#accordion">
                                    <div class="accordion-item__body">
                                        <p>With any financial product that you buy, it is important that you know you are getting the best
                                            advice from a reputable company as often
                                        </p>
                                    </div>
                                    <!-- /.accordion-item-body -->
                                </div>
                            </div>
                            <!-- /.accordion-item -->
                            <div class="accordion-item opened">
                                <div class="accordion-item__header" data-toggle="collapse" data-target="#collapse10">
                                    <a class="accordion-item__title" href="#">If I have questions, where can I find answers? </a>
                                </div>
                                <!-- /.accordion-item-header -->
                                <div id="collapse10" class="collapse show" data-parent="#accordion">
                                    <div class="accordion-item__body">
                                        <p>With any financial product that you buy, it is important that you know you are getting the best
                                            advice from a reputable company as often
                                        </p>
                                    </div>
                                    <!-- /.accordion-item-body -->
                                </div>
                            </div>
                            <!-- /.accordion-item -->
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </section>
            <!-- /.FAQ -->
            <!-- ========================
                Footer
                ========================== -->
            <footer class="footer bg-heading">
                <!-- ========================= _footer  ========================= -->
                <th:block th:include="partials/_footer/index :: _footer"></th:block>
                <!-- ========================= _footer end // ========================= -->
            </footer>
            <!-- /.Footer -->
            <!-- ========================= _left_side_bar  ========================= -->
            <th:block th:include="partials/_left_side_bar/index :: _left_side_bar"></th:block>
            <!-- ========================= _left_side_bar end // ========================= -->
        </div>
        <script th:src="@{/assets/js/jquery-3.5.1.min.js}"></script>
        <script th:src="@{/assets/js/plugins.js}"></script>
        <script th:src="@{/assets/js/main.js}"></script>
        <!-- ========================= shared_newsletters  ========================= -->
        <script th:src="@{/shared/front/newsletters/index.js}"></script>
        <!-- ========================= shared_newsletters end // ========================= -->
    </body>
</html>