<div th:fragment="_topbar">

    <nav class="main-header navbar navbar-expand navbar-light">

        <!-- Debut Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block text-md">
            	<a th:href="@{/}" class="nav-link" target="_blank">
            		<i class="fas fa-home mr-sm"></i>Visiter le site</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block text-md">
            	<a th:href="@{/logout}" class="nav-link text-danger">
            		<i class="fas fa-power-off mr-sm"></i>Déconnexion</a>
            </li>
        </ul>
        <!-- Fin Left navbar links -->


        <!-- Debut Right navbar links -->
        <ul class="navbar-nav ml-auto">

            <!-- Notifications Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right text-sm">
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-user mr-2"></i> Votre profil</a>
                    <div class="dropdown-divider"></div>
                        
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-lock mr-2"></i>Changer de mot de passe</a>
                    <div class="dropdown-divider"></div>
                        
                    <a th:href="@{/logout}" class="dropdown-item text-danger">
                        <i class="fas fa-power-off mr-2"></i>Déconnexion</a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>
            
            
            <li class="nav-item">
                <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                <i class="fas fa-expand-arrows-alt"></i>
                </a>
            </li>
        </ul>
        <!-- Fin Right navbar links -->
    </nav>

</div>