<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:form="http://form"
    xmlns:field="http://field" lang="fr">
    <head>
        <!-- ========================= _header  ========================= -->
        <th:block th:include="partials/_head/index :: _head"></th:block>
        <!-- ========================= _header end // ========================= -->
    </head>
    <body>
        <div class="wrapper">
            <!-- =========================
                Header 
                =========================== -->
            <header class="header header-transparent">
                <!-- ========================= _nav_bar  ========================= -->
                <th:block th:include="partials/_top_bar/index :: _top_bar"></th:block>
                <!-- ========================= _nav_bar end // ========================= -->
                <!-- ========================= _nav_bar  ========================= -->
                <th:block th:include="partials/_nav_bar/index :: _nav_bar"></th:block>
                <!-- ========================= _nav_bar end // ========================= -->
            </header>
            <!-- /.Header -->
            <!-- ========================
                page_title 
                =========================== -->
            <section class="page-title page-title-layout16 bg-overlay bg-parallax">
                <div class="bg-img"><img src="assets/images/page-titles/contact_us.jpg" alt="background"></div>
                <div class="container">
                    <div class="row text-center">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <h2 class="pagetitle__heading mb-10"><span th:text="${page_title}"></span></h2>
                            <div class="breadcumb">
                                <a class="text-bold" th:href="@{/}">Accueil</a>
                                <i class="fa fa-angle-right"></i>
                                <span th:text="${page_title} + ' !'"></span>
                            </div>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </section>
            <!-- ========================= _notification  ========================= -->
            <th:block th:include="partials/_notification/index :: _notification"></th:block>
            <!-- ========================= _notification end // ========================= -->
            <!-- /.page_title -->
            <!-- ==========================
                contact_section
                =========================== -->
            <section class="contact-layout1">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <form
                                id="contactForm"
                                th:action="@{/contact/create}"
                                method="post" role="form"
                                th:object="${ContactMessage}"
                                autocomplete="on" enctype="multipart/form-data"
                                class="contact-panel__form">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="idSujet">
                                                <h5 class="mb-none">J’ai une question concernant le domaine...</h5>
                                            </label>
                                            <select
                                                th:field="*{idSujet}"
                                                class="form-control" required="">
                                                <option
                                                    th:each="p: ${Sujets}"
                                                    th:value="${p.idSujet}"
                                                    th:text="${p.nom}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- /.col-lg-12 -->
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label for="contact-name">Nom complet <span class="required">*</span></label>
                                            <input type="text" class="form-control" placeholder="Votre nom complet" id="contact-name" name="contact-name"
                                                required>
                                        </div>
                                    </div>
                                    <!-- /.col-lg-6 -->
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label for="contact-email">Adresse Email <span class="required">*</span></label>
                                            <input type="email" class="form-control" placeholder="Votre adresse email" id="contact-email" name="contact-email"
                                                required>
                                        </div>
                                    </div>
                                    <!-- /.col-lg-6 -->
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="contact-Phone">Téléphone <span class="required">*</span></label>
                                            <input type="text" class="form-control" placeholder="Votre téléphone" id="contact-Phone" name="contact-phone"
                                                required>
                                        </div>
                                    </div>
                                    <!-- /.col-lg-12 -->
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group mb-20">
                                            <label for="contact-message">Contenu de la demande <span class="required">*</span></label>
                                            <textarea class="form-control" placeholder="Décrivez votre demande !" id="contact-message"
                                                required="" name="contact-message"></textarea>
                                        </div>
                                        <div class="custom-control custom-checkbox d-flex align-items-center  mb-20">
                                            <input type="checkbox" class="custom-control-input" id="terms">
                                            <label class="custom-control-label" for="terms">J'accepte la confidentialité et les conditions.</label>
                                        </div>
                                        <button type="submit" class="btn btn__secondary btn__block ">Envoyer la demande</button>
                                        <div class="contact-result mt-sm"></div>
                                    </div>
                                    <!-- /.col-lg-12 -->
                                </div>
                                <!-- /.row -->
                            </form>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-sm-12 col-md-12 col-lg-5 offset-lg-1">
                            <div class="contact-panel__info bg-overlay bg-overlay-primary">
                                <div class="bg-img"><img src="assets/images/contact/1.jpg" alt="banner"></div>
                                <div class="contact-block">
                                    <h5 class="contact-block__title">Les locaux commerciaux</h5>
                                    <ul class="contact-block__list list-unstyled">
                                        <li>
                                            <span th:text="${session.Parametre.localisation}"></span>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.contact-panel__info__block -->
                                <div class="contact-block">
                                    <h5 class="contact-block__title">Nous contacter</h5>
                                    <ul class="contact-block__list list-unstyled">
                                        <li><a href="tel:002250708280544">
                                            <span th:text="${session.Parametre.contactInfoLine_1}" class="text-white"></span></a>
                                        </li>
                                        <li class="mb-xs"><a href="tel:002250708280544">
                                            <span th:text="${session.Parametre.contactInfoLine_2}" class="text-white"></span></a>
                                        </li>
                                        <li>Email : <a th:href="'mailto:' + ${session.Parametre.emailContact}" class="text-white">
                                        	<span th:text="${session.Parametre.emailContact}"></span></a></li>
                                    </ul>
                                    <ul class="social-icons list-unstyled">
                                        <li><a class="icon_facebook"
                                            th:href="${session.Parametre.pageFacebook}"
                                            th:target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a th:href="${session.Parametre.pageLinkedIn}" th:target="_blank"><i class="fab fa-linkedin"></i></a></li>
                                        <li><a class="icon_whatsapp"
                                            th:href="@{'https://wa.me/' + ${session.Parametre.whatsApp}}"
                                            th:target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                                    </ul>
                                    <!-- /.social-icons -->
                                </div>
                                <!-- /.contact-panel__info__block -->
                                <a th:href="@{/solutions}" class="btn btn__white btn__bordered btn__icon btn__xl">
                                <span>Découvrir nos solutions</span>
                                <i class="icon-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <!-- /.col-lg-5 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </section>
            <!-- /.contact_section -->
            <!-- ========================= 
                Google_Map
                =========================  -->
            <section class="google-map py-0">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3972.616507700554!2d-4.017594085235103!3d5.322361096139057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfc1ebdcda9abb3f%3A0x348ba51b56a92543!2sLa%20cit%C3%A9%20Esculape!5e0!3m2!1sfr!2sus!4v1626254275097!5m2!1sfr!2sus"
                    width="100%" height="500px" style="border:0;" allowfullscreen="true" loading="eager" scrolling="yes"></iframe>
                <!--
                    <div id="map" style="height: 500px;"></div>
                                   <script src="assets/js/google-map.js"></script>
                                   <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" async defer></script>
                                   -->
                <!-- CLICK HERE (https://developers.google.com/maps/documentation/embed/get-api-key) TO  LERAN MORE ABOUT GOOGLE MAPS API KEY -->
            </section>
            <!-- /.Google_Map -->
            <!-- ========================
                Footer
                ========================== -->
            <footer class="footer bg-heading">
                <!-- ========================= _footer  ========================= -->
                <th:block th:include="partials/_footer/index :: _footer"></th:block>
                <!-- ========================= _footer end // ========================= -->
            </footer>
            <!-- /.Footer -->
            <!-- ========================= _left_side_bar  ========================= -->
            <th:block th:include="partials/_left_side_bar/index :: _left_side_bar"></th:block>
            <!-- ========================= _left_side_bar end // ========================= -->
        </div>
        <!-- /.wrapper -->
        <script th:src="@{/assets/js/jquery-3.5.1.min.js}"></script>
        <script th:src="@{/assets/js/plugins.js}"></script>
        <script th:src="@{/assets/js/main.js}"></script>
        <!-- ========================= shared_newsletters  ========================= -->
        <script th:src="@{/shared/front/newsletters/index.js}"></script>
        <!-- ========================= shared_newsletters end // ========================= -->
    </body>
</html>